workflows/emS4rOX6QrNMDEIk.json
{
  "id": "emS4rOX6QrNMDEIk",
  "name": "Telegram Bot Test",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "*"
        ],
        "additionalFields": {}
      },
      "id": "b573b6c5-c7d5-42c4-a3c6-f965cecc1655",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        320,
        112
      ],
      "webhookId": "5b4be832-7ff4-4b01-a8ef-f499d60669e9",
      "credentials": {
        "telegramApi": {
          "id": "VrYACtaKqGe6OxmW",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "d55c7ef5-bbb8-4a6c-9623-f7b7a588af12",
      "name": "Extract Message Info",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        528,
        176
      ]
    },
    {
      "parameters": {
        "chatId": "={{$json[\"chat_id\"]}}",
        "text": "={{$json[\"message_text\"]}}",
        "additionalFields": {}
      },
      "id": "33295574-6d07-4f09-95ad-93c5ad5ba7d7",
      "name": "Reply to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        800,
        144
      ],
      "webhookId": "8568e165-6bbf-4214-9619-158fab8efd6a",
      "credentials": {
        "telegramApi": {
          "id": "VrYACtaKqGe6OxmW",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Extract Message Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Message Info": {
      "main": [
        [
          {
            "node": "Reply to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "triggerCount": 1,
  "versionId": "574a0ff0-9db8-4030-a388-721238bb1397",
  "owner": {
    "type": "personal",
    "projectId": "z4xrzX6UbOdfRzVH",
    "projectName": "小刚 王 <767937116@qq.com>",
    "personalEmail": "767937116@qq.com"
  },
  "parentFolderId": null,
  "isArchived": true
}