workflows/jUJtnLYy0lSPn9Kb.json
{
  "id": "jUJtnLYy0lSPn9Kb",
  "name": "toNotion",
  "nodes": [
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "Title",
              "cssSelector": "h1"
            },
            {
              "key": "Content",
              "cssSelector": "section p",
              "returnValue": "html",
              "returnArray": true
            }
          ]
        },
        "options": {
          "trimValues": false,
          "cleanUpText": false
        }
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        -192,
        -240
      ],
      "id": "b6bb2a60-cf54-4cf2-b91b-13ddd2c7cbb8",
      "name": "解析HTML",
      "notes": "解析网页数据"
    },
    {
      "parameters": {
        "url": "={{$json[\"url\"]}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "user-agent",
              "value": "={{ $vars.useragent }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -416,
        -240
      ],
      "id": "c1f75587-acaf-4223-9a10-aed9d9539881",
      "name": "HTTP请求",
      "executeOnce": true
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nlet Arr = [];\nfor (const item of $input.all()) {\n  console.log(item);\n  item.json.Content = item.json.Content.slice(4);\n  let ContentHtml = \"\";\n  item.json.Content.forEach((x) => {\n    ContentHtml += `<p>${x}</p>`;\n  });\n  item.json.ContentHtml = ContentHtml;\n  Arr.push({\n    title: item.json.Title,\n    ContentHtml: ContentHtml,\n  });\n}\n\n//return $input.all();\nreturn Arr;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        32,
        -240
      ],
      "id": "ca81e37f-e781-45ea-ad96-e6b00ba35b57",
      "name": "解析富文本"
    },
    {
      "parameters": {
        "html": "={{ $json.ContentHtml }}",
        "destinationKey": "markDown",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        256,
        -336
      ],
      "id": "bd7333c9-1a7a-41c0-aba1-f7867eb1a569",
      "name": "数据转换"
    },
    {
      "parameters": {
        "inputMarkdown": "={{ $json.markDown }}"
      },
      "type": "n8n-nodes-notion-markdown.notionMarkdown",
      "typeVersion": 1,
      "position": [
        1152,
        -48
      ],
      "id": "8fd32e35-0bf7-41bd-a46b-28978fe98221",
      "name": "数据组装"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.notionApi }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "={{ $vars.ContentType }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1600,
        -144
      ],
      "id": "51af9347-d5bb-4d5a-a488-1f45f1b443c6",
      "name": "HTTP Request",
      "credentials": {
        "notionApi": {
          "id": "jHjtHDGqjTx4ezYs",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Add a new field called 'myNewField' to the JSON of the item\nlet $json=$input.item.json\n\n\nconst requestBody = {\n  parent: {\n    page_id: \"2493806905c580f3a5a3e10eb109ca27\"\n  },\n  properties: {\n    title: {\n      title: [{\n        text: {\n          content: $('数据转换').item.json.title\n        }\n      }]\n    }\n  },\n  children: $json.output\n};\n\nreturn requestBody"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1376,
        -144
      ],
      "id": "48e375a2-95be-46be-92d9-6aa497884363",
      "name": "组装请求Body"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d8f4c0de-1247-42dc-bb23-916c7fc201e9",
              "name": "url",
              "value": "={{ $json.Url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -640,
        -240
      ],
      "id": "288af2d9-2578-476f-84e8-8780c81c35bb",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "formTitle": "信息填写",
        "formDescription": "输入 <a target=\"_blank\"  href=\"https://medium.com/\" >https://medium.com/</a>网站非付费文章",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Url",
              "placeholder": "medium.com网址",
              "requiredField": true
            }
          ]
        },
        "responseMode": "lastNode",
        "options": {
          "buttonLabel": "Submit",
          "respondWithOptions": {
            "values": {
              "formSubmittedText": "您的网址已被记录"
            }
          }
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -864,
        -144
      ],
      "id": "d2d31a66-a038-44f2-9e1a-14540ae79ea8",
      "name": "On form submission",
      "webhookId": "68899304-d2f5-4400-9754-4159cde659ad",
      "disabled": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "yfcHvrZfBY5gxncE",
          "mode": "list",
          "cachedResultName": "文本翻译流程模型"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        704,
        -144
      ],
      "id": "c5de7e70-75fa-4ca1-9796-2a990694aac3",
      "name": "Execute Workflow"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -864,
        -336
      ],
      "id": "c66bd9cd-4f02-43c6-a2b7-42953f051ddb",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "be407923-e0a7-4947-8abd-10139d817e46",
              "name": "input",
              "value": "={{ $json.title }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        -144
      ],
      "id": "a2a42f06-6fc5-49d1-a582-244688c49dcd",
      "name": "转换翻译结构"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "be407923-e0a7-4947-8abd-10139d817e46",
              "name": "input",
              "value": "={{ $json.markDown }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        -336
      ],
      "id": "89d484e0-3a18-495d-a05c-023a21d0b95e",
      "name": "转换翻译结构1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1152,
        -240
      ],
      "id": "d602e922-12a0-4a5c-b78b-02d657e8195a",
      "name": "Merge"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "yfcHvrZfBY5gxncE",
          "mode": "list",
          "cachedResultName": "文本翻译流程模型"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        704,
        -336
      ],
      "id": "bd51753d-2001-4ec6-83a2-8588ab0a61fd",
      "name": "Execute Workflow1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2d173f7a-94ff-4588-a948-be449e36976c",
              "name": "markDown",
              "value": "={{ $json.fanyi_output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        928,
        -336
      ],
      "id": "6da711e0-1113-45c6-847d-989f9b5bb7ca",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c57b705f-dec0-439e-ae0a-848636a7cb34",
              "name": "title",
              "value": "={{ $json.fanyi_output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        928,
        -144
      ],
      "id": "63aaa9d8-1d92-4736-930c-53e038e19db3",
      "name": "Edit Fields2"
    }
  ],
  "connections": {
    "解析HTML": {
      "main": [
        [
          {
            "node": "解析富文本",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP请求": {
      "main": [
        [
          {
            "node": "解析HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "解析富文本": {
      "main": [
        [
          {
            "node": "数据转换",
            "type": "main",
            "index": 0
          },
          {
            "node": "转换翻译结构",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "数据转换": {
      "main": [
        [
          {
            "node": "转换翻译结构1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "数据组装": {
      "main": [
        [
          {
            "node": "组装请求Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        []
      ]
    },
    "组装请求Body": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP请求",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "转换翻译结构": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "转换翻译结构1": {
      "main": [
        [
          {
            "node": "Execute Workflow1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "数据组装",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "triggerCount": 1,
  "versionId": "43c539c4-20ad-4493-914a-883f47f82112",
  "owner": {
    "type": "personal",
    "projectId": "z4xrzX6UbOdfRzVH",
    "projectName": "小刚 王 <767937116@qq.com>",
    "personalEmail": "767937116@qq.com"
  },
  "parentFolderId": null,
  "isArchived": false
}